<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Kolmas tab (Info)
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  <p>
    <ion-text color="secondary">
      <h1>Tere!</h1>
    </ion-text>
    Esimesel tabil saab sisestada, kuvada, uuendada ja kustutada andmeid. Lisain ainult "Nime" sinna millele tuleb siis automaatselt oma id.
    <br><br>
    Teisel tabil saab teha kaameraga pilti ja salvestab selle. Kui peale vajutada pildile, siis on võimalik kustutada pilt.
    <br><br>
    Kolmas tab on see siin mida hetkel loed, siin on lihtsalt suvaline info. Alguses ma proovisin teha vähe keerulisemat 'äppi', aga see ei tulnud nii hästi välja.
    Vahepeal tuli Ionicul uuendus ning nüüd on vaja Java JDK ja Android Studiot, et saaks 'äppi' testida  telefonis.
    <br>
    <ion-text color="success">
      <h4>SQL info asub: tab1.page.ts failis ja tab1.page.html on html osa sellele.</h4>
    </ion-text>
  </p>
</ion-content>
